.vaso {
	color: red;
}

.laboratorio {
	color: orange;
}

.original-img canvas {
	cursor: cell;
	max-width: 95%;
}

.selected-colors div {
	height: 10px;
}

#slider .slider-selection {
	background: #BABABA;
}

img.preview {
	max-width:95%;
}

.img-home-preview {
	position: relative;
}

.img-home-preview .real {
	position: absolute;
	top: 0;
	z-index: 100;
}

.img-home-preview .real:hover {
	z-index: -1;
}
