#!/bin/bash

case "$1" in 
    start)
        echo "Starting ngrok"
        /orto/scripts/ngrok -authtoken YOURKEY ubdomain=yourdomainname -httpauth="username:password" 8080 & 
        ;;
    stop)
        echo "Stopping ngrok"
        killall ngrok
        ;;
    *)
        echo "Usage: /etc/init.d/ngrok start|stop"
        exit 1
        ;;
esac

exit 0
